* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

.container {
  width: 1226px;
  margin: 0 auto;
}

/* 顶部广告栏 */
.top-ad {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: relative;

  img {
    height: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* 导航栏 */
.top-nav {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  font-size: 12px;
  position: relative;
  z-index: 10;

  .container {
    margin: 0 auto;

    li {
      float: left;
      position: relative;
    }

    a {
      color: #b0b0b0;
    }

    span {
      color: #424242;
      margin: 0 3.6px;
    }

    .top-nav-left {
      float: left;
      position: relative;

      .download {
        width: 124px;
        height: 0px;
        background-color: #fff;
        box-shadow: 0 1px 5px #aaa;
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -62px;
        overflow: hidden;
        text-align: center;
        transition: all 0.3s;

        img {
          width: 90px;
          margin: 18px auto 0;
        }

        p {
          color: #333;
          font-size: 14px;
          line-height: 14px;
        }
      }

      .stri {
        width: 0;
        height: 0;
        border-bottom: 8px solid #fff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -8px;
        display: none;
      }

      li:hover > .download {
        height: 148px;
      }

      li:hover > .stri {
        display: block;
      }
    }

    .top-nav-right {
      float: right;

      .cart {
        width: 120px;
        height: 40px;
        background-color: #424242;
        margin-left: 25px;

        &:hover {
          background-color: #fff;
        }

        &:hover > a {
          color: #ff6700;
        }

        &:hover > .cart-list {
          height: 100px;
        }

        a {
          display: inline-block;
        }

        .iconfont {
          margin-right: 4px;
          font-size: 20px;
          line-height: 20px;
          vertical-align: -4px;
        }

        em {
          font-style: normal;
        }

        .cart-list {
          width: 316px;
          height: 0px;
          background-color: #fff;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
          position: absolute;
          right: 0;
          top: 40px;
          color: #424242;
          overflow: hidden;
          line-height: 100px;
          transition: all 0.3s;
        }
      }
    }
  }
}

.header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: relative;
  z-index: 9;

  .logo {
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    float: left;
    margin-top: 22.5px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      transition: all 0.2s;
    }

    .mi-home {
      left: -55px;
    }

    .mi-logo {
      left: 0px;
    }

    &:hover .mi-home {
      left: 0px;
    }

    &:hover .mi-logo {
      left: 55px;
    }
  }

  .header-nav {
    width: 875px;
    height: 100px;
    line-height: 100px;
    float: left;

    ul {
      width: 1100px;
      height: 100px;
      padding-left: 30px;
    }

    li {
      float: left;

      a {
        color: #333;
        padding: 0 10px;

        &:hover {
          color: #ff6700;
        }
      }

      &:hover .header-nav-list {
        height: 229px;
      }
    }

    .category {
      width: 180px;
      padding-right: 15px;
      visibility: hidden;
    }

    .header-nav-list {
      width: 100%;
      height: 0px;
      background-color: #fff;
      border-top: 1px solid #eee;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 0;
      top: 100px;
      overflow: hidden;
      transition: all 0.3s;

      li {
        width: 180px;
        line-height: normal;
        text-align: center;
        padding-top: 25px;
      }

      img {
        width: 160px;
        height: 110px;
      }

      p {
        font-size: 12px;
        color: #333;
        text-align: center;
      }

      .img-box {
        pad: 0 10px 16px;
      }

      .p-box {
        width: 180px;
        height: 20px;
      }

      .price {
        color: #ff6700;
      }

      .division {
        margin-top: 40px;
        width: 1px;
        height: 100px;
        background-color: #e0e0e0;
        padding: 0;
      }

      .header-nav-list-li {
        height: 0;
      }
    }
  }

  .search {
    width: 296px;
    height: 100px;
    float: right;

    input {
      width: 244px;
      height: 50px;
      float: left;
      border: 1px solid #e0e0e0;
      box-sizing: border-box;
      outline: none;
      margin-top: 25px;
      padding: 0 10px;
      border-right: 0;
    }

    button {
      background-color: #fff;
      width: 52px;
      height: 50px;
      float: right;
      border: 1px solid #e0e0e0;
      box-sizing: border-box;
      margin-top: 25px;

      span {
        font-size: 24px;
      }

      &:hover {
        color: #fff;
        background-color: #ff6700;
      }
    }
  }
}

.banner {
  width: 100%;
  height: 460px;
  background-color: #fff;
  z-index: 8;

  .container {
    position: relative;

    .carousel {
      position: relative;
      width: 100%;
      height: 460px;
      overflow: hidden;

      .carousel-slides {
        position: relative;
        width: 100%;
        height: 100%;

        .carousel-slide {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: opacity 1s ease-in-out;

          .banner-img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .carousel-prev,
      .carousel-next {
        width: 41px;
        height: 69px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0);
        border: none;

        em {
          font-size: 40px;
          color: #aaa;
        }

        &:hover {
          background-color: #424242;
        }

        &:hover em {
          color: #eee;
        }
      }

      .carousel-prev {
        left: 234px;
      }

      .carousel-next {
        right: 0px;
      }

      .carousel-dots {
        width: 400px;
        height: 21px;
        position: absolute;
        left: auto;
        right: 30px;
        bottom: 20px;
        text-align: right;

        button {
          width: 10px;
          height: 10px;
          line-height: 21px;
          margin: 0 4px;
          border: 2px solid #fff;
          border-color: hsla(0, 0%, 100%, 0.3);
          border-radius: 10px;
          overflow: hidden;
          background: rgba(0, 0, 0, 0.4);

          &.active {
            background: hsla(0, 0%, 100%, 0.4);
            border-color: rgba(0, 0, 0, 0.4);
          }
        }
      }
    }

    .slide {
      width: 234px;
      height: 420px;
      padding: 20px 0;
      background-color: rgba(105, 101, 101, 0.6);
      position: absolute;
      top: 0;
      left: 0;

      > ul {
        > li {
          height: 42px;
          line-height: 42px;
          text-align: left;
          padding-left: 30px;
          font-size: 14px;

          &:hover .slide-list {
            display: block;
          }

          > a {
            color: #fff;

            .iconfont {
              float: right;
              font-size: 16px;
              padding-right: 20px;
            }
          }

          .slide-list {
            /* 完整宽度 */
            width: 992px;
            height: 460px;
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-left: none;
            box-sizing: border-box;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
            position: absolute;
            top: 0;
            left: 234px;
            display: none;

            ul {
              width: 265px;
              position: absolute;

              li {
                width: 265px;
                height: 76px;
                padding: 18px 0 18px 20px;
                box-sizing: border-box;
                line-height: 76px;
                position: relative;

                img {
                  width: 40px;
                  margin-right: 10px;
                }

                span {
                  color: #333;
                  font-size: 14px;
                  position: absolute;
                  top: 0;

                  &:hover {
                    color: #ff6700;
                  }
                }
              }
            }

            .ul-column-1 {
              left: 0px;
            }

            .ul-column-2 {
              left: 265px;
            }

            .ul-column-3 {
              left: 499px;
            }

            .ul-column-4 {
              left: 764px;
            }
          }

          &:hover {
            background-color: #ff6700;
          }
        }
      }
    }
  }
}

.ad {
  width: 100%;
  height: 170px;
  padding: 14px 0;
  background-color: #fff;

  .ad-aside {
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    padding: 3px;
    box-sizing: border-box;
    font-size: 12px;
    float: left;

    li {
      float: left;
      width: 76px;
      height: 82px;
      padding-top: 12px;
      box-sizing: border-box;
      opacity: 0.7;

      img {
        width: 24px;
        padding: 0 23px 4px;
      }

      p {
        color: #fff;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .ad-img {
    width: 316px;
    height: 170px;
    margin-left: 14.6px;
    float: left;

    img {
      width: 100%;
    }
  }
}

.content {
  width: 100%;
  background-color: #f1f1f1;
  overflow: hidden;
  padding: 4px 0 12px;

  .title-box {
    position: relative;

    .title {
      text-align: left;
      color: #333;
      font-size: 22px;
      font-weight: 200;
      line-height: 58px;
    }

    .title-more {
      height: 58px;
      line-height: 58px;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 16px;
      cursor: pointer;

      a {
        color: #424242;
        transition: all 0.4s;

        .iconfont {
          padding: 4px;
          margin-left: 8px;
          border-radius: 16px;
          font-size: 12px;
          line-height: 12px;
          background-color: #b0b0b0;
          color: #fff;
          transition: all 0.4s;
        }

        &:hover {
          color: #ff6700;
        }

        &:hover > .iconfont {
          background-color: #ff6700;
        }
      }
    }

    .title-list {
      height: 58px;
      line-height: 58px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;

      li {
        display: inline-block;
        line-height: 24px;
        padding: 0;
        margin-left: 30px;
        font-size: 16px;
        color: #424242;
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        transition: border 0.3s;

        &.earphone {
          color: #ff6700;
          border-bottom: 2px solid #ff6700;
        }

        &.hot {
          color: #ff6700;
          border-bottom: 2px solid #ff6700;
        }
      }
    }
  }

  .content-img-box {
    width: 100%;
    height: 120px;
    margin: 22px 0;

    &:last-child {
      margin-top: 30px;
    }

    img {
      width: 1226px;
      height: 120px;
    }
  }

  .content-box {
    margin-bottom: 8px;
  }

  .items-box {
    width: 100%;
    height: 614px;

    .items-img-box {
      width: 234px;
      height: 614px;
      float: left;
      transition: all 0.3s linear;

      img {
        width: 100%;
        height: 100%;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        }
      }

      .items-img-box-half {
        width: 234px;
        height: 300px;
        margin-bottom: 14px;
        background-color: #fff;
        float: left;
        transition: all 0.3s linear;

        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }

    .item-box {
      width: 992px;
      height: 614px;
      float: left;
      overflow: hidden;

      &.wear {
        height: 0px;
      }

      &.TV {
        height: 0px;
      }

      &.airCondition {
        height: 0px;
      }

      .item {
        width: 234px;
        height: 300px;
        margin: 0 0 14px 14px;
        background-color: #fff;
        padding: 20px 0;
        box-sizing: border-box;
        float: left;
        transition: all 0.3s linear;

        img {
          width: 160px;
          margin-bottom: 19px;
        }

        .name {
          width: 214px;
          height: 21px;
          font-size: 14px;
          font-weight: 400;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #333;
          line-height: 21px;
          margin: 0 auto 2px;
        }

        .descr {
          width: 214px;
          height: 18px;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #b0b0b0;
          font-size: 12px;
          line-height: 18px;
          margin: 0 auto 10px;
        }

        .price {
          color: #ff6700;
          font-size: 14px;

          del {
            margin-left: 7px;
            color: #b0b0b0;
          }
        }

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        }
      }

      .item-half {
        width: 234px;
        height: 300px;
        float: left;
        margin-left: 14px;
        transition: all 0.3s linear;

        & > div {
          width: 234px;
          height: 143px;
          padding-top: 50px;
          box-sizing: border-box;
          background-color: #fff;
        }

        & > .item-half-item {
          position: relative;
          a {
            display: block;
            width: 234px;
            height: 68px;

            .img-box {
              position: absolute;
              right: 20px;
              top: 32px;
              width: 80px;
              height: 80px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .name {
              margin: -10px 110px 5px 30px;
              font-size: 14px;
              font-weight: 400;
              color: #333;
              text-align: center;
            }

            .price {
              margin: 0 110px 0 30px;
              font-size: 12px;
              color: #ff6700;
              text-align: center;
            }
          }
        }

        & > .item-half-more {
          position: relative;
          a {
            display: block;
            width: 234px;
            height: 45px;

            .iconfont-box {
              position: absolute;
              right: 35px;
              top: 48px;
              width: 48px;
              height: 48px;
              color: #ff6700;

              .iconfont {
                font-size: 48px;
                line-height: 48px;
              }
            }

            .text-box {
              margin: 0 110px 0 30px;
              font-size: 18px;
              color: #333;

              p {
                float: left;
              }

              small {
                font-size: 12px;
                color: #757575;
                float: left;
              }
            }

            .descr {
              display: block;
              width: 94px;
              height: 18px;
              font-size: 12px;
              color: #757575;
            }
          }
        }

        & > div:first-child {
          margin-bottom: 14px;
        }

        & > div:hover {
          transform: translateY(-2px);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.footer {
  background-color: #fff;

  .footer-service {
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;

    li {
      float: left;
      width: 19.8%;
      height: 25px;
      border-right: 1px solid #e0e0e0;
      line-height: 25px;
      text-align: center;
      box-sizing: border-box;

      &:last-child {
        border: 0;
      }

      a {
        color: #616161;
        transition: all 0.3s;

        em {
          font-size: 24px;
          line-height: 24px;
          margin-right: 1px;
          vertical-align: -4px;
        }

        span {
          font-size: 16px;
        }

        &:hover {
          color: #ff6700;
        }
      }
    }
  }

  .footer-link {
    width: 100%;
    height: 392.5px;
    padding: 40px 0;
    box-sizing: border-box;

    > ul {
      float: left;
      width: 160px;
      text-align: left;
      color: #424242;
      font-size: 14px;
      line-height: 1.25;

      &:first-child {
        padding-left: 160px;
      }

      > li {
        margin-top: 10px;

        a {
          font-size: 12px;
          color: #757575;
          transition: all 0.2s;

          &:hover {
            color: #ff6700;
          }
        }

        &:first-child {
          margin: -1px 0 26px;
        }
      }
    }

    .footer-aside {
      width: 251px;
      float: right;

      .contact {
        border-left: 1px solid #e0e0e0;
        text-align: center;
      }

      .phone {
        width: 100%;
        font-size: 22px;
        line-height: 1;
        color: #ff6700;
        margin-bottom: 5px;
      }

      > .phone {
        margin-top: 25px;
      }

      .timeapply {
        width: 200px;
        text-align: left;
        margin-left: 52px;
      }

      .time {
        width: 100%;
        font-size: 12px;
        line-height: 18px;
        color: #616161;
        margin-bottom: 5px;
      }

      .apply {
        width: 100%;
        font-size: 12px;
        line-height: 18px;
        color: #616161;
        margin-bottom: 5px;
      }

      a {
        width: 118px;
        height: 28px;
        font-size: 12px;
        line-height: 28px;
        display: inline-block;
        font-size: 12px;
        color: #ff6700;
        border: 1px solid #f25807;
        transition: all 0.3s linear;

        .iconfont {
          padding-right: 3px;
        }

        &:hover {
          background-color: #ff6700;
          color: #fff;
        }
      }
    }
  }
}
